{
  "presets": [
    ["next/babel",
    {
      "preset-react": {
        "runtime": "automatic",
        "importSource": "@emotion/react"
      }
    }]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "src": "./src",
          "server": "./server",
          "pages": "./pages"
        }
      }
    ],
    ["react-native-web", { "commonjs": true }],
  ]
}
