{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2019,
    "sourceType": "module"
  },
  "plugins": ["react","react-hooks", "@typescript-eslint", "prettier"],
  "extends": [
    "plugin:react/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:jest/recommended",
    "prettier"
  ],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/display-name": "off",
    "react/no-children-prop": "off",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "semi": [2, "never"],
    "react/no-unescaped-entities": [0],
    "eol-last": ["error", "always"],
    "no-trailing-spaces": [0, {"ignoreComments": true}],
    "@typescript-eslint/no-explicit-any": "off",
    "react/jsx-no-target-blank": [1, { "allowReferrer": true}],
    "react/jsx-filename-extension": [
      1,
      { "extensions": [".ts", ".tsx"] }
    ],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": [
      "error",
      {
        "additionalHooks": "(useAsync|useAsyncCallback)"
      }
    ]
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "extensions": [".ts", ".tsx"]
      }
    }
  }
}
