/* JOST* */
/* Additional weights  https://indestructibletype.com/fonts/Jost.css */
@font-face {
  font-family: "Jost";
  src: url("/fonts/Jost-400.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jost";
  src: url("/fonts/Jost-500.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jost";
  src: url("/fonts/Jost-400-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Jost";
  src: url("/fonts/Jost-500-Italic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Jost";
  src: url("/fonts/Jost-600-Semi.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

